﻿@model Ex3.Models.DisplayModel

@{
    ViewBag.Title = "Index";
}


<img id="scream" src="~/Content/export-map-share.png" />
<canvas id="myCanvas"></canvas>
<script>
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    var Lat;
    var Lon;
    var maxLat = 90;
    var minLat = -90;
    var maxLon = 180;
    var minLon = -180;
    var isFirstPosition = true;
    var timer;

    //getting the Lat and Lon values.
    function GetLatLon(callback) {
        $.post("@Url.Action("GetLatLon", Model.ControllerName)").done(function (data) {
            console.log(data);
            var xmlDoc = $.parseXML(data);
            var $xml = $(xmlDoc);
            Lat = $xml.find("Lat").text();
            Lon = $xml.find("Lon").text();

            Lat = normalizeVal(minLat, maxLat, 0, ctx.canvas.height, Lat);
            Lon = normalizeVal(minLon, maxLon, 0, ctx.canvas.width, Lon);
            console.log(Lon, Lat);
            callback();
        });
    }

    //normalizing the values.
    function normalizeVal(domainMin, domainMax, imageMin, imageMax, input) {
        return ((input - domainMin) / (domainMax - domainMin)) * (imageMax - imageMin) + imageMin;
    }

    //drawing the plain location / track every 4 seconds (from the Simulator of the file).
    function drawTrack() {
        if (@Model.Rate != 0) {
            var interval = 1000 * (@Model.Rate);
            timer = setInterval(drawLine, interval);
            if (@Model.Period> 0)
                setTimeout(() => { clearInterval(timer); }, @Model.Period* 1000);
        }
        drawLine();
    }

    function drawLine() {
        GetLatLon(function () {
            if (!(isNaN(Lat) || isNaN(Lon))) {
                console.log(Lon, Lat);
                if (isFirstPosition) { //draw point
                    console.log("Point");
                    ctx.fillStyle = "#c82124";
                    ctx.strokeStyle = "#c82124";
                    ctx.beginPath();
                    ctx.arc(Lon, Lat, 10, 0, 2 * Math.PI); //drawing the first location recived.
                    ctx.closePath();
                    ctx.fill();
                    ctx.stroke();
                    ctx.moveTo(Lon, Lat); //start draeing the track.
                    isFirstPosition = false;
                }
                else { //draw line
                    console.log("Line");
                    ctx.lineTo(Lon, Lat);
                    ctx.stroke();
                    moveTo(Lon, Lat);
                }
            }
            else {
                if (isFirstPosition == false) {
                    //stop writing valuse to the file and drawing them after time is up.
                    clearInterval(timer);
                    alert('stop');
                }
            }
        });
    }

    window.onload = function () {
        c = document.getElementById("myCanvas");
        ctx = c.getContext("2d");
        var img = document.getElementById("scream");
        ctx.canvas.width = window.innerWidth;
        ctx.canvas.height = window.innerHeight;
        ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, ctx.canvas.width, ctx.canvas.height);
        img.width = 0;
        img.height = 0;
        drawTrack();
    };

</script>
